- content_for :devise_title, "Recuperar contraseña"

= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|

  = f.email_field :email, autofocus: true
  = f.submit t("devise.passwords.submit_new"), block: true
