.alerts {
  .header {
    color: #999;
    font-weight: normal;
  }

  .alert, .header {
    display: flex;
    align-items: center;

    &-state {
      width: 60px;
    }

    &-by {
      flex: 1;
    }

    &-date {
      width: 200px;
    }

    &-assignee {
      width: 100px;
    }
  }
}

.alerts-scroll {
  &::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0,0,0,0);
    -webkit-border-radius: 100px;
  }

  &::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }

  &::-webkit-scrollbar-thumb:vertical {
    background: rgba(0,0,0,0.2);
    -webkit-border-radius: 100px;
  }
  &::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0,0,0,0.31);
    -webkit-border-radius: 100px;
  }
}
