#main-nav {
  margin: 0;

  .header.item {
    padding-left: 0 !important;
  }

  .user.item {
    padding-right: 0 !important;
    color: $gray-600;

    &:hover {
      color: $gray-800;
    }
  }

  .header.item, .user.item {
    padding-left: 0 !important;

    &:hover, &:active, &:focus {
      background-color: white;
      outline: none;
    }
  }
}
